body{
    background-color: #dd8fbf;

}

footer{
    background-color: #ac82ce;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
text-align: center;
font-size: 2rem;
margin-top: 0.1rem;
}